body {
    color: #000000;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 0;

}

.skip a{
    background: white;
    padding: 10px;
    left: 0; 
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px
}

.skip a:focus{
    top: 16px;
}

header {
    position: sticky;
    /* height: 56px; */
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    background-color: #202020;
    color: white;
    font-size: 1.5rem;

}

#logo {
    width: 36px;
    height: 36px;
    padding: 6px;
    margin: 8px;
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    background-color: #323232;
    color: white;
}

.navbar li {
    padding: 12px;
    text-align: center;
}

.navbar li:hover {
    background-color: #E07310BB;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #E07310;
    font-weight: 700;
    font-style: italic;
}

.banner-wrapper {
    position: relative;
    background-image: url("../images/head_village.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 56.25%;
}

.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    background-color: #e07410c0;
    margin: 16%;
    color: white;
    text-align: center;
    padding: 16px;
    line-height: 1.5;
    border-radius: 4px;
}

.banner-content h1 {
    font-size: 1.2rem;
    padding: 4px;
}

img {
    width: 100%;
    height: auto;
}